.s_header nav {
    text-align: center;
    line-height: 29px;
    color: white;
	/* background: #57CB80; */
	/* background: #FA4F1A; */
	background: #FE8C78;
}


#main_body a:first-child span{
	font-size: 1.3em;
	border: none;
	background: none;
	margin-left: -0.2em;
}
#main_body #more{
	background: none;
	border:none;
}
#id_start_ceshi,.s_reg input[type=submit],.s_reg .btn_bg,
.input-wrap>i:before,
.s_reg input[type=button]{
	background: #FE8C78;
	color: white;
}
.s_reg input[type=button] {
    height: 40px;
    line-height: 36px;
    color: #fff;
    border: 0 none;

    width: 90%;
    border-radius: 5px;
}
.s_reg .btn_bg,.s_reg a.btn_bg{
	display: block;

}
.btn_bg,.s_reg .btn_bg,.s_reg a.btn_bg,.btn_bg input,.btn-z-change,.btn-z-bind{
font-size: 16px !important;
	font-weight: bold !important;
}
.common-color{
	color: #FE8C78;
}
.node-title{
	text-align: center !important;
	    font-size: 2em;
}
.s_header nav{
	text-shadow: none;
}



.qita li a{
	padding-left: 15px;
}
.qita li a img{
	width: 2.2em;
	margin-right: 10px;
}

footer{
	margin-bottom: 50px;
}
.footer-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #F6F6F6;
	z-index: 1;
}
.footer-nav a {
	border-top:1px solid #ddd;
	color: #888;
	width: 25%;
	display: block;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}
.hide{
	display: none;
}
.line{
	border-bottom: 1px solid #ddd;
	padding: 0.5em 0;
}
.text-red{
	color: red !important;
}
.text-bold{
	font-weight: bold;
}
dd .btn_bg{
	display: inline-block;
	background: #FE8C78;
    color: white;
	padding: 0.4em 0.5em 0.5em 0.5em;
	border-radius: 5px;
}
dt img{
	width: 50px;
	height: 50px;
}
.s_reg input[type=submit],
.s_reg input[type=button]{
	width: 100%;
}
#prev-step{
display: block;
    line-height: 40px;
    height: 40px;
	width: auto;
    color: #fff;

}

.btn_bg.btn-3 {
    margin-left: 25px;
}
/* .btn_bg,.s_reg input[type=submit]{
	font-weight: 100 !important;
	font-size: 13px !important;
}
 */
.span-wrap{
	color: #FE8C78;
}

.concern,.concern:hover{
	border: 1px solid #FE8C78;
	padding: 3px 5px;
	color: #FE8C78;
}
.concern:hover{
	color: #999;
}
#hash-rcmd .cover,#hash-rcmd .cover img{
	width: 97% !important;
	height: 97%  !important;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body,h5.diy-content-padded{
	font-size: 15px !important;
	font-weight: bold !important;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	margin-bottom: 15px;
}
.text-hint{
	text-align: center;
	font-size: 1.3em;
}
